@font-face {
    font-family: font;
    src: url(../font/AltoneTrial-Regular.ttf);
}

body{
    background-color: orange;
    margin: 0;
}

*{
    box-sizing: border-box;
}

.container{
    width: 1100px;
    margin: auto;
    max-width: 100%;
}

.row{
    display: flex;
    flex-wrap: wrap;
}

.col-3{
    width: 33.3333%;
    padding: 0 15px;
    margin: 80px 0;
}

.animation{
    position: relative;
    transform: translateY(0);
    height: 500px;
    border-radius: 15px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 0 15px grey;
    display: flex;
    align-items: flex-end;
    transition: all .4s;
}

.animation::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    transition: all .4s;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.349);
    opacity: 0;
    border-radius: 15px;
}

.animation:hover::before{
    opacity: 1;
}

.animation:hover .text{
    opacity: 1;
    transform: translateY(-10%);
}

.animation:hover{
    transform: translateY(20px);
}

.text{
    padding: 15px 25px 0;
    color: white;
    opacity: 0;
    transition: all .4s;
    transform: translateY(0);
    font-family: font
}

.text a{
    display: inline-block;
    text-decoration: none;
    color: white;
    background-color: #3a3a3a;
    font-weight: bold;
    padding: 15px;
    border-radius: 2px;
}