@font-face {
  font-family: nino;
  src: url(../font/bpg_nino_mtavruli_bold.ttf);
}
@font-face {
  font-family: arial;
  src: url(../font/bpg_arial_2009.ttf);
}
header {
  background-image: url(../images/Layer\ 3.svg);
}
header .upper {
  background-color: rgba(78, 78, 78, 0.562);
}
header .upper .container {
  font-family: nino;
  width: 1100px;
  margin: auto;
  max-width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px 0 13px 0;
}
header .upper .container h3, header .upper .container a {
  margin: 0;
  font-size: 15px;
  color: white;
  padding-left: 11px;
}
header .upper .container ul {
  padding: 0;
  margin: 0;
}
header .upper .container ul li {
  display: inline-block;
}
header .upper .container ul li a {
  text-decoration: none;
  color: white;
}
header .navbari {
  padding-top: 27px;
  padding-bottom: 14px;
}
header .navbari .container {
  width: 1100px;
  padding-right: 0;
}
header .navbari .container .sakvebi ul {
  font-family: nino;
  margin-left: auto;
}
header .navbari .container .sakvebi ul .kata {
  padding-left: 0;
}
header .navbari .container .sakvebi ul .kata a {
  padding: 0;
  color: #6b6b6b;
}
header .navbari .container .sakvebi ul .kata a img {
  padding-right: 16px;
}
header .navbari .container .sakvebi ul .dzaghli {
  padding-left: 0;
  padding-right: 40px;
}
header .navbari .container .sakvebi ul .dzaghli ul {
  padding: 0;
  font-family: arial;
  margin-top: 18px;
}
header .navbari .container .sakvebi ul .dzaghli ul li a {
  border-bottom: 1px solid #c3cbcc;
  padding: 17px 115px 17px 18px;
  font-size: 14px;
  color: #575757;
}
header .navbari .container .sakvebi ul .dzaghli a {
  padding: 0;
}
header .navbari .container .sakvebi ul .dzaghli a img {
  padding: 0 16px 0 0;
}
header .navbari .container .sakvebi ul .arseba {
  padding-left: 40px;
}
header .navbari .container .sakvebi ul .arseba a {
  padding: 0;
  color: #6b6b6b;
}
header .navbari .container .sakvebi ul .arseba a img {
  padding-right: 16px;
}
header .karuseli .container img {
  filter: opacity(0);
  height: 590px;
}
header .karuseli .container .teqst {
  width: 700px;
  text-align: left;
}
header .karuseli .container .teqst h5 {
  text-align: left;
  font-family: nino;
  font-size: 24px;
  padding-bottom: 35px;
}
header .karuseli .container .teqst p {
  text-align: left;
  font-size: 17px;
  font-family: aral;
  padding-bottom: 50px;
}
header .karuseli .container .teqst a {
  color: white;
  font-size: 17px;
  font-family: nino;
  display: inline-block;
  text-decoration: none;
  background-color: #e23848;
  padding: 17px 35px;
  margin-bottom: 24px;
}

section {
  background-color: #f2f5ee;
}
section .row {
  width: 100%;
}
section .row .w-20 {
  width: 20%;
}
section .row .w-20 img {
  margin-top: 35px;
  height: 110px;
  width: 100%;
}

footer {
  background-color: #f4f6ed;
}
footer .container {
  padding-top: 35px;
  display: flex;
  justify-content: space-between;
}
footer .container h4 {
  color: #828282;
  font-size: 15px;
}

/*# sourceMappingURL=style.css.map */
