@import url("//cdn.web-fonts.ge/fonts/archyedt-bold/css/archyedt-bold.min.css");

body{
   height: 100vh;
}


*{
    font-family: "ArchyEDT-Bold", sans-serif;
}

img{
    width: 100%;
}

.ansrow p{
    cursor: pointer;
}